:root {
    --font-size-1: clamp(12px, 1vw, 24px);
    --background-color-1: rgba(109, 143, 116, 0.3);
    --height-size-1: clamp(40px, 8vh, 60px);
    --height-size-2: clamp(30px, 3vh, 45px);
    --input-height: clamp(16px, 6vh, 28px);
}

body {
    font-size: var(--font-size-1);
}

input {
    border-radius: 4px;
    border: 0;
    height: var(--input-height);
    padding: 0 2%;
    width: 90%;
    outline: 0;
}

button {
    outline: 0;
}

header {
    position: -webkit-sticky;
    top: 0;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

a {
    margin: 0 2%;
    text-decoration: none;
    color: black;
    transition-duration: .4s;
}

a:hover {
    color: rgb(0, 194, 42);
}

.desktop, .mobile {

}

@media screen and (min-width: 800px) {
    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}