:root {
    --font-size-1: clamp(12px, 1vw, 24px);
    --font-size-2: clamp(6px, 1.6vw, 14px);
    --font-size-title-1: clamp(24px, 2vw, 48px);
    --font-size-title-2: clamp(18px, 1.4vw, 36px);
    --background-color-1: rgba(109, 143, 116, 0.3);
    --background-color-2: rgba(109, 143, 116, 0.8);
    --background-color-3: rgba(109, 143, 116, 0.1);
    --height-size-1: clamp(40px, 8vh, 60px);
    --height-size-2: clamp(30px, 3vh, 45px);
    --input-height: clamp(16px, 6vh, 28px);
}

body {
    font-size: var(--font-size-1);
}

input {
    border-radius: 4px;
    border: 0;
    height: var(--input-height);
    padding: 0 2%;
    width: 87%;
    outline: 0;
}

button, select {
    outline: 0;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 1%;
}

section * {
    margin-bottom: 1.6%;
}

footer {
    font-size: var(--font-size-2);
    width: 100vw;
    position: -webkit-sticky;
    bottom: 0;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: .4s;
}

a:hover {
    color: rgb(0, 194, 42);
}

h5, .h5 {
    font-size: var(--font-size-title-1);
}

h6 {
    font-size: var(--font-size-title-2);
}

.title {
    position: sticky;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.badge {
    background-color: var(--background-color-2);
}

.card {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 800px) {
    section {
        padding: 0 10%;
    }

    .desktop {
        display: inline;
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 799px) {
    section {
        padding: 0 5%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline;
    }
}