#navigate {
    background-color: rgb(213, 221, 214);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--height-size-1);
    padding: 0 1%;
}

#searchBox {
    display: flex;
    align-items: center;
    padding: 0 2%;
    background-color: white;
    border-radius: 4px;
    width: 100%;
}

#clearSearch {
    display: none;
}

#searchIcon {
    position: relative;
    top: -2px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    width: 100%;
}

.searchLink {
    padding: 0;
    width: 100%;
}

#dropdownList {
    position: relative;
    padding: 1%;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    text-align: center;
    /* margin-top: 24px !important; */
}

#dropdownList li {
    border-radius: 6px;
    transition: .5s;
    margin-bottom: 2%;
}

#dropdownList li:hover {
    background-color: rgba(99, 99, 99, 0.1) !important;
}

#dropdownMenuLink {
    display: hidden;
}

#loadingGif {
    max-height: 30px;
}

.repoFromSearch {
    background-image: url("../images/folder.svg");
    background-repeat: no-repeat;
    background-color: var(--background-color-3);
    border-radius: 4px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1%;
    background-position: .2vh 4%;
}

.repoFromSearch h7 {
    margin: 0;
    padding-top: .15vh;
    padding-left: 10%;
}

.repoFromSearch p {
    font-size: small;
}

.repoFromSearch i {
    font-size: smaller;
}

@media screen and (min-width: 800px) {
    .links {
        width: 80%;
    }

    .links a {
        margin: 0 2%;
    }

    .search {
        width: 20vw;
        min-width: 160px;
    }

    #dropdownList {
        width: 20vw !important;
        margin-left: 102.5% !important;
        float: right;
    }

    .tab {
        position: relative;
        top: calc(1vh * -0.15);
        cursor: default;
    }
}

@media screen and (max-width: 799px) {
    .dropdown, .search, .links {
        display: inline;
    }

    .search {
        width: 36vw;
        min-width: 160px;
    }

    #dropdownList {
        width: 36vw !important;
        margin-left: 102% !important;
        float: right;
    }

    .compactMenu {
        width: 40px;
        height: var(--height-size-2);
        background-color: var(--background-color-1);
        border: 1px solid rgba(109, 143, 116, 0.3);
        border-radius: 4px;
    }
}